<body id="page-top">
  <!-- Navigation-->
  <app-navbar></app-navbar>
  <!-- Masthead-->
  <app-header></app-header>
  <!-- Formulario-->
  <app-formulario></app-formulario>
  <!-- Portfolio Section-->
  <app-portfolio></app-portfolio>
  <!-- About Section-->
    <app-about></app-about>
  <!-- Contact Section-->
  <app-contact></app-contact>
  <!-- Footer-->
  <app-footer></app-footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>